# mail settings

MAIL_TO = changeme
MAIL_TO_DEVELOPER = changeme

# URL to crawl
URL_TO_CRAWL = https://epso.europa.eu/en/job-opportunities/open-for-application?institution=All&field_epso_domain=All&field_epso_location_target_id_1=1149&field_epso_grade_target_id=All&field_epso_type_of_contract_target_id=All&field_epso_open_for=

# AWS
REGION = eu-central-1
BUCKET = epso-jobs

# where the raw downloaded .html files will be stored
DOWNLOADS_PATH = downloads/